/* Author: Brittany Shackelton */

@import url("/css/slidingThing.css");



/* ***************************************************************** */
/* Style rules for body area */ 
body {
    background-color: #072227;
}


/* The grid container */
.grid-container {
    display: grid;
} 


/* ***************************************************************** */
/* Style rules for header area */ 





/* ***************************************************************** */
/* Style rules for home area */ 

.wrapper1 {
    position: fixed;
    margin-top: 20em;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}


.wrapper1 h1{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    font-size: 120px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    text-shadow: 5px 4px 8px #384242;
  /* filter: drop-shadow(0px 0px 1px rgba(0,0,0,1)); */
    -webkit-text-stroke: .5px #D1DADB;
    paint-order: stroke fill;
    white-space: nowrap;
}







/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media (max-width: 600px) {
  .grid-container  {

  }
}*/