

/* ***************************************************************** */
/* Style rules for body area */ 
body {
    background-color: #072227;
}

.wrapper {
    margin-left: 25%;
    margin-top: 15em;
}


.wrapper .icon{
    background-color: #F7F8F9;
    border-radius: 50%;
    margin: 20px;
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 79px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #616A6B;
    text-decoration: none;
}


.wrapper .icon:hover span {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    font-size: 45px;
}


.wrapper .linkedin:hover {
    background-image: linear-gradient(to bottom, #F7F8F9, #616A6B);
    color: #194195; 
    border: 2px solid #194195;
}




.wrapper .facebook:hover {
    background-color: #3b5999;
    color: #F7F8F9;
    border: 2px solid #F7F8F9;
}



.wrapper .indeed:hover {
    background-image: linear-gradient(to bottom, #F7F8F9, #DEDB2B);
    color: #194195;
    font-family: 'Sansita', sans-serif; 
    font-style: Bold 700 Italic;
    border: 2px solid #194195;
}

.indeed {
    font-family: 'Sansita', sans-serif; 
    font-style: Italic;
    font-weight: 900;
}



.wrapper .instagram:hover {
    background-image: linear-gradient(to bottom, #fbbf45, #ef6a32, #e1306c, #ed0345, #710162, #110141);
    color: #F7F8F9;
    border: 2px solid #F7F8F9;
}

.instagram {
    font-size: 40px;
}

.wrapper .github:hover {
    background-color: #333333;
    color: #ffffff;
    border: 2px solid #F7F8F9;
}




