/* ***************************************************************** */
/* Style rules for body area */ 



body {
    background-color: #AAAAAA;
}

.pcc {
    font-size: 30px;
    font-family: 'Saira Condensed', sans-serif;
}

.pccLogo {
    margin: 40px 10px 10px 30px;
    
}

img {
    width: 350px;
    height: 120px;
}

.external-link {
    color: #51C4D3;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
}

h3 {
    font-size: 25px;
    font-family: 'Saira Condensed', sans-serif;
    color: #D8E3E7;
}

h4 {
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
    color: #D8E3E7;
}

iframe {
    border-radius: 5%;
    height: 10em;
    width: 10em;
}

.map {
    border-style: outset;
    border-width: 8px;
}

footer {
    margin-top: 50em;

}