

/* ***************************************************************** */
/* Style rules for body area */ 
body {
    background-color: #072227;
    overflow-y: scroll;
}





/* ***************************************************************** */
/* Style rules for skills area */ 

.skills{
    width: 63em;
    display: inline-flex;
    grid-gap: 10px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}


.skills h1{
    color: #218181;
    text-shadow: 3px 2px 1px rgb(251, 251, 251);
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    margin: 10px;
    letter-spacing: 1.5px;
}

/* Responsive columns */
/*@media screen and (max-width: 600px) {
    .skills{
        margin-bottom: 100px;
        margin: 0 -5px;
        width: 100%;
        display: grid;
        width: 100%;
        grid-gap: 10px;
        padding: 10px;
        grid-template-areas: 
            'experience techTools lang';
    }
}*/

/* Style the counter cards */
.container1 {
    height: 54em;
    width: 30em;
    margin-right: 20px;
    padding: 1.5%;
    background-color: rgba(33, 129, 129, 0.7);
}

.container2 {
    height: 54em;
    width: 30em;
    padding: 1.5%;
    background-color: rgba(33, 129, 129, 0.7);
}


/* ***************************************************************** */
/* Style rules for experience area */

.experience{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #E6E6E6;
    height: 52em;
    width: 28em;
    padding: 10px;
}

.experience dl{
    
}

.experience dt{
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #384242;
    text-shadow: 1px .5px 2px rgb(56, 66, 66);
    letter-spacing: 1px;
    font-weight: bold;
}

.experience dd{
    text-align: left;
    margin: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #384242;
    line-height: 20.5px;
    font-size: 14px;
}

.experience ul{
    padding-left: 40px; 
    padding-bottom: 15px;
}

.experience ol{
    padding-left: 23px;
    padding-bottom: 15px;
}

.experience li{
    line-height: 23px;
}

/* ***************************************************************** */
/* Style rules for techTools area */

.techTools{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: #E6E6E6;
    height: 25em;
    padding: 15px;
    margin-bottom: 3px;
}

.techTools dl{
    float: left;
    margin: 5px;
    padding: 15px 20px 10px 20px;
    color: #384242;
    line-height: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.techTools dt{
    text-align: left;
    font-size: 16px;
    color: #384242;
    text-shadow: 1px .5px 2px rgb(56, 66, 66);
    letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 15px;
}


.techTools dd{
    text-align: left;
    margin-left: 20px; 
    padding-bottom: 3px;
    line-height: 23px;
    font-size: 14px;
}




/* ***************************************************************** */
/* Style rules for lang area */

.lang{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: #E6E6E6;
    height: 26em;
}

.lang dl{
    margin-top: 2px;
}

img{
    margin: 10px 15px 10px 15px;
    display: inline-block;
    width: 8em;
    height: 8em;
    border-radius: 20%;
    box-shadow: 5px 5px 10px rgba(237, 175, 48, 0.9);
    border: 0.8px solid #A2B4B5;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
    padding: 10px 15px;
    color: #110141;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
    font-family: 'Sansita', sans-serif;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 7em;
    height: 7em;
    background-color: rgba(237, 175, 48, 0.8);
    border-radius: 20%;

/* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 50px;
    margin-left: -35px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

